In [13]:
import ir_datasets
import pyterrier as pt
import pandas as pd
try:
    pt.init()
except:
    pass

In [14]:
dataset = pt.get_dataset("msmarco_passage")
bm25 = pt.BatchRetrieve.from_dataset(dataset, "terrier_stemmed", wmodel="BM25")

In [15]:
psg20 = ir_datasets.load("msmarco-passage/trec-dl-2020")

queries = psg20.queries_iter()
query_data = []
for q in queries:
    query_data.append([q.query_id, "".join([x if x.isalnum() else " " for x in q.text])])
queryDf = pd.DataFrame(query_data, columns=["qid", "query"])
print(queryDf)

         qid                                       query
0    1030303                          who is aziz hashim
1    1037496                         who is rep scalise
2    1043135            who killed nicholas ii of russia
3    1045109                     who owns barnhart crane
4    1049519  who said no one can make you feel inferior
..       ...                                         ...
195   985594                          where is kampuchea
196    99005                 convert sq meter to sq inch
197   997622          where is the show shameless filmed
198   999466                            where is velbert
199   132622               definition of attempted arson

[200 rows x 2 columns]

In [16]:
res = bm25.transform(queryDf)

In [18]:
# res.to_csv("bm25_scores.tsv", sep='\t')
run_file = pd.DataFrame(columns=["query_id", "run", "document_id", "rank", "score", "engine"])
print(res)

            qid    docid    docno  rank      score  \
0       1030303  8726436  8726436     0  54.354218
1       1030303  8726433  8726433     1  44.220280
2       1030303  8726435  8726435     2  40.514966
3       1030303  8726429  8726429     3  39.687092
4       1030303  8726437  8726437     4  35.847262
...         ...      ...      ...   ...        ...
193657   132622  2431419  2431419   995  13.890963
193658   132622  2765612  2765612   996  13.890963
193659   132622  4400077  4400077   997  13.890963
193660   132622  5041482  5041482   998  13.890963
193661   132622  6031519  6031519   999  13.890963

                                query
0                  who is aziz hashim
1                  who is aziz hashim
2                  who is aziz hashim
3                  who is aziz hashim
4                  who is aziz hashim
...                               ...
193657  definition of attempted arson
193658  definition of attempted arson
193659  definition of attempted arson
193660  definition of attempted arson
193661  definition of attempted arson

[193662 rows x 6 columns]

In [19]:
run_file["query_id"] = res["qid"]
run_file["run"] = "Q0"
run_file["document_id"] = res["docid"]
run_file["rank"] = res["rank"]
run_file["score"] = res["score"]
run_file["engine"] = "Terrier"

In [22]:
run_file.to_csv("/home/catalinlup/MyWorkspace/MasterThesis/datasets/run_files/msmarco_psg_bm25_rankings.tsv", sep="\t", index=False, header=False)